<div class="container">
  <div class="row">
      <% @item_listings.each do |item| %>
        <div class="col-md-4 col-12 cards-index">
          <%= link_to item_listing_path(item) do %>
            <div class="card card-items-index">
                <div class="card-description">
                  <div class="card-body">
                    <h5 class="card-title"><%= item.item_name %></h5>
                    <p class="card-text"><%= item.description %></p>
                    <%= cl_image_tag item.photo.key, height: 150, width: 200, crop: :fill %>
                    <%= link_to 'Invest!', new_item_listing_store_path(item), class: 'btn btn-primary' %>
                      <% if current_user == item.user %>
                        <%= link_to 'edit', edit_item_listing_path(item) %> | 
                        <%= link_to "delete", item_listing_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
                      <% else %>
                        <%# invest here %>
                      <% end %>
                  </div>

                  <div>
                    <h3 class="cardpricing"></h3>$<%= number_with_delimiter(item.price, :delimiter => ',') %></h3>
                  </div>

                </div>
            </div>
          <% end %>
        </div>
      <% end %>

  </div>
</div>
